html 	
{ 
  margin-left: 2em; 
  margin-right: 2em; 
  margin-top: 2em; 
  margin-bottom: 2em; 
  border-top-width : 0.1em;
  border-right-width : 0.1em;
  border-bottom-width : 0.1em;
  border-left-width : 0.1em;
  border-style : solid;
  border-color : #000000 ;
  background-color : #AAAAAA
  }

body
{
  margin-left: 2em; 
  margin-right: 2em; 
  margin-top: 0em; 
  margin-bottom: 1em; 
  text-align: justify; 
  font-size: 11pt
  }

a 
{ 
  text-decoration: none; 
  border-color: transparent;
  border-style : transparent;
  background : transparent; 
} 

a:link 
{ 
  color: #FFFFFF; 
  border-color: transparent;
  border-style : transparent;
  background : transparent; 
  } 

a:visited 
{ 
  color: #FFFFFF; 
  border-color: transparent;
  border-style : transparent;
  background : transparent;
  } 

a:active 
{ 
  color: #FFFFFF; 
  border-color: transparent;
  border-style : transparent;
  background : transparent; 
} 

a:hover 
{ 
  color: #FFFFFF; 
  border-color: transparent;
  border-style : transparent;
  background : transparent; 
} 

hr 
{ 
  color: #000000; 
  background: transparent; 
} 

h1 
{  
  font-size : 20pt ; 
  padding: 5pt 5pt;
  color: #000000;
}

h2 
{ 
  font-size : 16pt ; 
  margin-left: 0em; 
  color: #FF0000;
}

h3 
{ 
  font-size : 14pt ; 
  margin-left: 1em; 
  color: #FFFFFF;
}

h4 
{ 
  font-size : 13pt ; 
  margin-left: 2em; 
  color: #555555;
}

h5 
{ 
  font-size : 12pt ; 
  margin-left: 3em; 
  color: #666666;
}

h6 
{ 
  font-size : 11pt ; 
  margin-left: 4em; 
  color: #777777;
}

b
{
  color: #000000;
}

.keyword 
{ 
  font-weight : bold ; 
  color : #FF0000
}

.keywordsign 
{ 
  color : #FF0000
  }

.superscript 
{ 
  font-size : 4 
  }

.subscript 
{ 
  font-size : 4 
}

.comment 
{ 
  color : #00FF00
}

.constructor 
{ 
  color : #0000FF 
}

.type 
{ 
  color : #F0F0F0
}

.string 
{ 
  color : #0F0F0F
}

.warning 
{ 
  color : #FF0000 ; 
  font-weight : bold 
}

.info 
{ 
  margin-left : 3em; 
  margin-right : 3em 
}

.code 
{ 
  color : #465F91 ; 
}

.title1 
{ 
  font-size : 20pt ; 
  background-color : #000000
}

.title2 
{ 
  font-size : 16pt ; 
  margin-left: 0em; 
  background-color : #FF0000
}

.title3 
{ 
  font-size : 14pt ; 
  margin-left: 1em; 
  background-color : #FFFFFF
}

.title4 
{ 
  font-size : 13pt ; 
  margin-left: 2em; 
  background-color : #555555
}

.title5 
{ 
  font-size : 12pt ; 
  margin-left: 3em; 
  background-color : #666666
}

.title6 
{ 
  font-size : 11pt ; 
  margin-left: 4em; 
  background-color : #777777
}

.typetable 
{ 
  border-style : hidden 
  }

.indextable 
{ 
  border-style : hidden 
  }

.paramstable 
{ 
  border-style : hidden ; 
  padding: 5pt 5pt
}

td.typefieldcomment 
{ 
  background-color : transparent
}

pre 
{ 
  margin-bottom: 4px 
}
